
#include "resource.h"
#include <windows.h> 




IDD_ABOUTBOX DIALOGEX 0, 0, 229, 31
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "INN_GEN"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,21,4,129,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Generate",IDC_BUTTON1,155,3,50,14
END




